node_modules
**/node_modules
.next
**/.next
dist
**/dist
**/generated/prisma

.git
.gitignore

*.db
*.db-journal
*.db-wal
*.db-shm

.env
.env.local
**/.env
**/.env.local

.claude
doc
README.md
*.md
!apps/server/AGENTS.md
